{% load sass_tags %}
{% load static %}

<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% sass_src 'css/utils/reset.sass' %}">
    <link rel="stylesheet" href="{% sass_src 'css/utils/fonts.sass' %}">
    <link rel="stylesheet" href="{% sass_src 'css/main.sass' %}">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>